@model Prueba002.Models.dbModels.DetalleCompra

@{
    ViewData["Title"] = "Edit";
}

<div class="Titulo">
    <h1>DetallesCompras</h1>

    <h3>Editar</h3>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCompra" />
            <input type="hidden" asp-for="IdProducto" />
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioProducto" class="control-label"></label>
                <input asp-for="PrecioProducto" class="form-control" />
                <span asp-validation-for="PrecioProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
            <div>
                <a class="btn btn-warning" asp-action="Index">Regresar a la lista</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
