html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}


.container-icon{
    width: 40px;
    height: 40px;
}
img{
    max-width: 100%;
}

.header-index {
    display: flex;
    justify-content: space-between;
}
.Titulo {
    text-align: center;
}

footer {
    background: midnightblue;
    padding: 30px;
}
.container-items{
    margin:20px;
    padding: 100px 0px;
}
/* PAGINA DE DE INICIO */
.item img {
    height: 300px;
    width: 300px;
}
.item{
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    border: 1px solid black;
    text-align: center;
}
.item a{
    text-decoration: none;
    color: black;
}
.Info-Producto{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
}
.Info-Producto button {
    border-radius: 10px;
    background: #81D4FA;
    color: black;
    padding: 15px 10px;
    cursor: pointer;
}

/* PRODUCTOS */

/* INDEX */
tr svg{
    height: 30px;
}
tr .Editar{
    color: black;
}
tr .Eliminar {
    color: red;
}
tr .Detalles {
    color: #B9770E;
}
.iconos a{
    margin: 5px;
}
div .Titulo{
    text-align:center;
    margin: 10px;
}
.Titulo a{
    height: 30px;
}
.thead-dark th {
    background-color: #343a40;
    color: #fff;
}
tr th, td {
    text-align: center;
}
form .btn{
    margin: 5px;
}
header .Borrar{
    text-align: center;
}