@model Prueba002.Models.dbModels.Categorium

@{
    ViewData["Title"] = "Create";
}

<div class="Titulo">
    <h1>Categoría</h1>
    <h3>Crear Nueva Categoría</h3>
    <hr />
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
            <div>
                <a class="btn btn-warning" asp-action="Index">Regresar a la lista</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
